/* my external CSS file */
h1 {
    color: rgb(10,10,100);
    text-align: center;
    text-decoration: underline overline 0.1cm;
}
h2 {
    color: #6495ED;
    border-bottom: 0.5em double rgb(24, 163, 78);
}
h3 {color: hsl(200, 100%, 50%);}

img {
    display: block;
    /* margin: <top> <right> <bottom> <left> */
    margin: 5px 5px 5px 5px;
    border: 1vw solid black;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 3px;
    padding-right: 3px;
}

video {
    display: block;
    margin: 5px 5px 5px 5px;
    border: 1vh solid black;
    /* padding */
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 3px;
    padding-right: 3px;
}

.container {
    position: static;
    /* border */
    border-width: 10px;
    border-style: solid;
    border-color: rgb(10,10,100);
    border-radius: 10px;
    /* margin */
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 1in;
    margin-right: 1in;
    /* padding: <top> <right> <bottom> <left> */
    padding: 5px 0 5px 0;
}

/* applying style to div id */
#meeting-info {         
    display: inline-block;
    border: 2px solid rebeccapurple;
}

p {
    font-size: 15px;
    height: 75px;
    max-width: 200px;
    border: 2px solid blue;
    padding: 5px 5px 5px 5px;
    margin: 5px 5px 5px 5px;
}

.toc {
    display: block;
    max-height: 100px;
}

.audiobox {
    position: relative;
    display: inline-block;
    border: 2px solid black;
    padding: 5px 5px 5px 5px;
    margin: 5px 5px 5px 5px;
    left: 150px;
}

.center {
    text-align: center;
}

.spacing {
    padding: 5px 5px 5px 5px;
    margin: 5px 5px 5px 5px;
}

button:hover {
    background-color: red;
    color: white;
}

.box {
    width: 350px;
    height: 150px;
    margin: 10px;
    padding: 25px;
    border: 5px solid black;
}